/* Books.css */

.books {
  padding: 20px;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.book-card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-card img {
  max-width: 100%;
  height: auto;
}

.book-card .card-body {
  padding: 20px;
}
.book-card > img {
  height: 400px !important;
}
.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 5px;
}

.button {
  margin-top: 10px;
}
